body{
    background-color: black;
    color: aliceblue;
}
img {

    max-width: 30%;
    max-height: 80%;      
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}